Figure/
committee_meeting_figure/
__pycache__/
compounds_highlighting.ipynb
data/combined_BM_scaffolds_ZINC20_unique.smi
data/combined_BM_scaffolds_ZINC22_unique.smi
data/Enamine_hts_collection_sdf_202506
data/crossdocked_pocket10_name2id.pt
data/extract_protein_classification.py
data/extract_protein_types.py
data/extract_protein_types_bulk.py
data/index.pkl
data/split_by_name.pt
data/test_list.tsv
data/test_protein_types_summary.txt
data/test_protein_types.txt
data/test_uniprot_ids_name.txt
data/test_uniprot_ids.txt
data/train_protein_types_summary.txt
data/train_protein_types.txt
data/unique_protein_classifications.txt
figs_600dpi/ls
test.ipynb
extract_protein_types.py
extract_subset_sdf.py
compounds_highlighting.ipynb
BM_scaffolds_occurance.ipynb
Picture_drawing.ipynb
standardize_bm_scaffolds.py
synformer_data/
gnnvae_benchmarking/
data/standardized_BM_scaffolds_ZINC20.smi
data/standardized_BM_scaffolds_ZINC20.smi
